@model IEnumerable<Application.DataTransfer.HashtagDto>

@{
    ViewData["Title"] = "List of hashtags";
}

<h1>List of hashtags</h1>

@if (TempData["success"] != null)
{
    <p class="alert alert-success">@TempData["success"]</p>
}

@if (TempData["error"] != null)
{
    <p class="alert alert-danger">@TempData["error"]</p>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tag)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderBy(h => h.Id)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tag)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>